
body {
  background-color: #111;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

h1, h2, h3 {
  font-family: 'Playfair Display', serif;
  color:greenyellow; /*#d4af37;*/
}

.hero {
  height: 100vh;
  background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.9)),
              url('https://images.unsplash.com/photo-1519681393784-d120267933ba');
  background-size: cover;
  background-position: center;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  text-align:center;
  padding:20px;
}

.hero h1 {
  font-size: 3rem;
}

.section {
  padding: 80px 20px;
  text-align:center;
}

.carousel img {
  border-radius: 15px;
  max-height: 500px;
  object-fit: cover;
}

.carousel-item {
  height: 500px; /* altura fija desktop */
}

.carousel-item img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.gift-box {
  font-size: 100px;
  cursor: pointer;
  transition: transform 0.4s ease;
}

.gift-box:hover {
  transform:  rotate(5deg);  /*scale(1.2)*/
}

#surprise {
  display:none;
  margin-top:30px;
  animation: fadeIn 1.5s ease forwards;
}

.btn{
  background-color: greenyellow;
  border-color: black;
}

.btn:hover{
  background-color: greenyellow;
}

@keyframes fadeIn {
  from {opacity:0; transform: translateY(20px);}
  to {opacity:1; transform: translateY(0);}
}

footer {
  padding:40px;
  text-align:center;
  background:#000;
  color:#888;
}

@media (max-width: 768px) {
  .hero h1 {
    font-size: 2rem;
  }
   .carousel-item {
    height: 300px;
  }
}

